// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as serializers from "../../../../serialization/index.js";
import * as brume from "../../../index.js";

export declare namespace ChannelsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Realtime channel operations
 */
export class ChannelsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ChannelsClient.Options>;

    constructor(options: ChannelsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a list of all channels for the authenticated project.
     *
     * @param {ChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link brume.UnauthorizedError}
     *
     * @example
     *     await client.channels.listChannels()
     */
    public listChannels(
        requestOptions?: ChannelsClient.RequestOptions,
    ): core.HttpResponsePromise<brume.ChannelListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listChannels(requestOptions));
    }

    private async __listChannels(
        requestOptions?: ChannelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<brume.ChannelListResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/channels",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ChannelListResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new brume.UnauthorizedError(
                        serializers.ErrorBody.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.BrumeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/channels");
    }

    /**
     * Returns the current presence roster for a channel.
     *
     * @param {string} channel - Channel name. Same rules as publish.
     * @param {ChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link brume.BadRequestError}
     * @throws {@link brume.UnauthorizedError}
     *
     * @example
     *     await client.channels.getPresence("channel")
     */
    public getPresence(
        channel: string,
        requestOptions?: ChannelsClient.RequestOptions,
    ): core.HttpResponsePromise<brume.PresenceResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getPresence(channel, requestOptions));
    }

    private async __getPresence(
        channel: string,
        requestOptions?: ChannelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<brume.PresenceResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/channels/${core.url.encodePathParam(channel)}/presence`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.PresenceResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new brume.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new brume.UnauthorizedError(
                        serializers.ErrorBody.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.BrumeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/channels/{channel}/presence",
        );
    }

    /**
     * Server-side REST publish endpoint for non-WebSocket backends
     * (cron jobs, webhooks, queue workers).
     *
     * @param {string} channel - Channel name. Must contain at least one `:` separator (e.g., `room:123`). 1-256 chars. Allowed: alphanumeric, `:`, `-`, `_`.
     * @param {brume.PublishRequest} request
     * @param {ChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link brume.BadRequestError}
     * @throws {@link brume.UnauthorizedError}
     * @throws {@link brume.ForbiddenError}
     * @throws {@link brume.ContentTooLargeError}
     * @throws {@link brume.TooManyRequestsError}
     *
     * @example
     *     await client.channels.publish("channel", {
     *         event: "event",
     *         payload: {
     *             "key": "value"
     *         }
     *     })
     */
    public publish(
        channel: string,
        request: brume.PublishRequest,
        requestOptions?: ChannelsClient.RequestOptions,
    ): core.HttpResponsePromise<brume.PublishResponse> {
        return core.HttpResponsePromise.fromPromise(this.__publish(channel, request, requestOptions));
    }

    private async __publish(
        channel: string,
        request: brume.PublishRequest,
        requestOptions?: ChannelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<brume.PublishResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v1/channels/${core.url.encodePathParam(channel)}/publish`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: serializers.PublishRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.PublishResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new brume.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new brume.UnauthorizedError(
                        serializers.ErrorBody.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 403:
                    throw new brume.ForbiddenError(
                        serializers.ErrorBody.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 413:
                    throw new brume.ContentTooLargeError(
                        serializers.ErrorBody.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 429:
                    throw new brume.TooManyRequestsError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.BrumeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/channels/{channel}/publish",
        );
    }

    /**
     * JWT extraction priority:
     * 1. `Sec-WebSocket-Protocol: brume.token.<jwt>` (recommended — keeps the
     *    token out of access logs, browser history, and referer headers).
     * 2. `?token=<jwt>` query parameter (legacy; emits a deprecation warning).
     *
     * If auth fails, returns an HTTP error response without upgrading.
     *
     * @param {brume.ConnectRequest} request
     * @param {ChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link brume.BadRequestError}
     * @throws {@link brume.UnauthorizedError}
     * @throws {@link brume.ForbiddenError}
     * @throws {@link brume.TooManyRequestsError}
     *
     * @example
     *     await client.channels.connect()
     */
    public connect(
        request: brume.ConnectRequest = {},
        requestOptions?: ChannelsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__connect(request, requestOptions));
    }

    private async __connect(
        request: brume.ConnectRequest = {},
        requestOptions?: ChannelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { token } = request;
        const _queryParams: Record<string, unknown> = {
            token,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/connect",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new brume.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new brume.UnauthorizedError(
                        serializers.ErrorBody.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 403:
                    throw new brume.ForbiddenError(
                        serializers.ErrorBody.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 429:
                    throw new brume.TooManyRequestsError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.BrumeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/connect");
    }
}
