# This file was auto-generated by Fern from our API Definition.

import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.request_options import RequestOptions
from .raw_client import AsyncRawPostgresClient, RawPostgresClient


class PostgresClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawPostgresClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawPostgresClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawPostgresClient
        """
        return self._raw_client

    def doctor(self, *, request_options: typing.Optional[RequestOptions] = None) -> typing.Dict[str, typing.Any]:
        """
        Returns the operational state of the Postgres WAL logical
        replication slot for the authenticated project. Project API key
        auth (any scope). The doctor reads the gateway's in-process cache
        — the numbers reflect the gateway that handled the request, not
        a globally-consistent cluster view.

        Response body is documented as `additionalProperties: true` for
        the same reason as `/v1/stats`.

        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.Dict[str, typing.Any]
            Replication slot state and lag percentiles

        Examples
        --------
        from brume import BrumeClient

        client = BrumeClient(
            api_key="YOUR_API_KEY",
            base_url="https://yourhost.com/path/to/api",
        )
        client.postgres.doctor()
        """
        _response = self._raw_client.doctor(request_options=request_options)
        return _response.data


class AsyncPostgresClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawPostgresClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawPostgresClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawPostgresClient
        """
        return self._raw_client

    async def doctor(self, *, request_options: typing.Optional[RequestOptions] = None) -> typing.Dict[str, typing.Any]:
        """
        Returns the operational state of the Postgres WAL logical
        replication slot for the authenticated project. Project API key
        auth (any scope). The doctor reads the gateway's in-process cache
        — the numbers reflect the gateway that handled the request, not
        a globally-consistent cluster view.

        Response body is documented as `additionalProperties: true` for
        the same reason as `/v1/stats`.

        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.Dict[str, typing.Any]
            Replication slot state and lag percentiles

        Examples
        --------
        import asyncio

        from brume import AsyncBrumeClient

        client = AsyncBrumeClient(
            api_key="YOUR_API_KEY",
            base_url="https://yourhost.com/path/to/api",
        )


        async def main() -> None:
            await client.postgres.doctor()


        asyncio.run(main())
        """
        _response = await self._raw_client.doctor(request_options=request_options)
        return _response.data
