// Code generated by Fern. DO NOT EDIT.

package stats

import (
    context "context"
    os "os"

    brume "github.com/brumehq/brume-rest-go"
    core "github.com/brumehq/brume-rest-go/core"
    internal "github.com/brumehq/brume-rest-go/internal"
    option "github.com/brumehq/brume-rest-go/option"
)


type Client struct {
    WithRawResponse *RawClient

    options *core.RequestOptions
    baseURL string
    caller *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
    if options.APIKey == "" {
        options.APIKey = os.Getenv("BRUME_API_KEY")
    }
    return &Client{
        WithRawResponse: NewRawClient(options),
        options: options,
        baseURL: options.BaseURL,
        caller: internal.NewCaller(
            &internal.CallerParams{
                Client: options.HTTPClient,
                MaxAttempts: options.MaxAttempts,
                DisableRetries: options.DisableRetries,
            },
        ),
    }
}

// Returns the project's analytics history as a list of snapshots
// (oldest first). Snapshots are sampled every 30s in-process. The
// response includes the last `window / interval` entries. Empty
// state is an empty `snapshots` array — never faked data.
// 
// Response body is documented as `additionalProperties: true` for
// the same reason as `/v1/stats`: the shape is pinned by tests.
func (c *Client) Analytics(
    ctx context.Context,
    request *brume.AnalyticsRequest,
    opts ...option.RequestOption,
) (map[string]any, error){
    response, err := c.WithRawResponse.Analytics(
        ctx,
        request,
        opts...,
    )
    if err != nil {
        return nil, err
    }
    return response.Body, nil
}

// Returns project-level and global connection/channel statistics.
// 
// Backwards compatibility: existing fields are preserved exactly. New
// fields added in 2026-06-11 (latency, postgres_lag, dropped_messages,
// slow_consumer_disconnections, dead_connections_cleaned,
// auth_failures_last_minute, plan_limit_rejections, top_channels) are
// additive — older dashboard clients keep working.
// 
// Response body is documented as `additionalProperties: true` because
// the exact JSON shape is pinned by ~10 unit tests in this file. A
// future PR can type the envelope; for now SDK consumers will see
// `Record<string, any>`.
func (c *Client) GetStats(
    ctx context.Context,
    opts ...option.RequestOption,
) (map[string]any, error){
    response, err := c.WithRawResponse.GetStats(
        ctx,
        opts...,
    )
    if err != nil {
        return nil, err
    }
    return response.Body, nil
}

