// Code generated by Fern. DO NOT EDIT.

package client

import (
    context "context"
    os "os"

    apikeys "github.com/brumehq/brume-rest-go/apikeys"
    channels "github.com/brumehq/brume-rest-go/channels"
    core "github.com/brumehq/brume-rest-go/core"
    internal "github.com/brumehq/brume-rest-go/internal"
    longpoll "github.com/brumehq/brume-rest-go/longpoll"
    option "github.com/brumehq/brume-rest-go/option"
    postgres "github.com/brumehq/brume-rest-go/postgres"
    projects "github.com/brumehq/brume-rest-go/projects"
    public "github.com/brumehq/brume-rest-go/public"
    sse "github.com/brumehq/brume-rest-go/sse"
    stats "github.com/brumehq/brume-rest-go/stats"
    webhooks "github.com/brumehq/brume-rest-go/webhooks"
)


type BrumeClient struct {
    WithRawResponse *RawBrumeClient
    Public *public.Client
    Stats *stats.Client
    APIKeys *apikeys.Client
    Channels *channels.Client
    Longpoll *longpoll.Client
    Postgres *postgres.Client
    Projects *projects.Client
    Sse *sse.Client
    Webhooks *webhooks.Client

    options *core.RequestOptions
    baseURL string
    caller *internal.Caller
}

func NewBrumeClient(opts ...option.RequestOption) *BrumeClient {
    options := core.NewRequestOptions(opts...)
    if options.APIKey == "" {
        options.APIKey = os.Getenv("BRUME_API_KEY")
    }
    return &BrumeClient{
        Public: public.NewClient(options),
        Stats: stats.NewClient(options),
        APIKeys: apikeys.NewClient(options),
        Channels: channels.NewClient(options),
        Longpoll: longpoll.NewClient(options),
        Postgres: postgres.NewClient(options),
        Projects: projects.NewClient(options),
        Sse: sse.NewClient(options),
        Webhooks: webhooks.NewClient(options),
        WithRawResponse: NewRawBrumeClient(options),
        options: options,
        baseURL: options.BaseURL,
        caller: internal.NewCaller(
            &internal.CallerParams{
                Client: options.HTTPClient,
                MaxAttempts: options.MaxAttempts,
                DisableRetries: options.DisableRetries,
            },
        ),
    }
}

// Returns the full operational picture for a project: counters,
// latency percentiles, Postgres lag, top channels, and a plan-limit
// snapshot. Project API key auth (any scope). No secrets, no
// high-cardinality data, no admin gating.
// 
// Response body is documented as `additionalProperties: true` for
// the same reason as `/v1/stats` and `/v1/analytics`.
func (b *BrumeClient) Diagnostics(
    ctx context.Context,
    opts ...option.RequestOption,
) (map[string]any, error){
    response, err := b.WithRawResponse.Diagnostics(
        ctx,
        opts...,
    )
    if err != nil {
        return nil, err
    }
    return response.Body, nil
}

