// Code generated by Fern. DO NOT EDIT.

package postgres

import (
    context "context"
    os "os"

    core "github.com/brumehq/brume-rest-go/core"
    internal "github.com/brumehq/brume-rest-go/internal"
    option "github.com/brumehq/brume-rest-go/option"
)


type Client struct {
    WithRawResponse *RawClient

    options *core.RequestOptions
    baseURL string
    caller *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
    if options.APIKey == "" {
        options.APIKey = os.Getenv("BRUME_API_KEY")
    }
    return &Client{
        WithRawResponse: NewRawClient(options),
        options: options,
        baseURL: options.BaseURL,
        caller: internal.NewCaller(
            &internal.CallerParams{
                Client: options.HTTPClient,
                MaxAttempts: options.MaxAttempts,
                DisableRetries: options.DisableRetries,
            },
        ),
    }
}

// Returns the operational state of the Postgres WAL logical
// replication slot for the authenticated project. Project API key
// auth (any scope). The doctor reads the gateway's in-process cache
// — the numbers reflect the gateway that handled the request, not
// a globally-consistent cluster view.
// 
// Response body is documented as `additionalProperties: true` for
// the same reason as `/v1/stats`.
func (c *Client) Doctor(
    ctx context.Context,
    opts ...option.RequestOption,
) (map[string]any, error){
    response, err := c.WithRawResponse.Doctor(
        ctx,
        opts...,
    )
    if err != nil {
        return nil, err
    }
    return response.Body, nil
}

