# This file was auto-generated by Fern from our API Definition.

from __future__ import annotations

import os
import typing

import httpx
from .core.api_error import ApiError
from .core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from .core.logging import LogConfig, Logger
from .core.request_options import RequestOptions
from .raw_client import AsyncRawBrumeClient, RawBrumeClient

if typing.TYPE_CHECKING:
    from .api_keys.client import ApiKeysClient, AsyncApiKeysClient
    from .channels.client import AsyncChannelsClient, ChannelsClient
    from .longpoll.client import AsyncLongpollClient, LongpollClient
    from .postgres.client import AsyncPostgresClient, PostgresClient
    from .projects.client import AsyncProjectsClient, ProjectsClient
    from .public.client import AsyncPublicClient, PublicClient
    from .sse.client import AsyncSseClient, SseClient
    from .stats.client import AsyncStatsClient, StatsClient
    from .webhooks.client import AsyncWebhooksClient, WebhooksClient


class BrumeClient:
    """
    Use this class to access the different functions within the SDK. You can instantiate any number of clients with different configuration that will propagate to these functions.

    Parameters
    ----------
    base_url : str
        The base url to use for requests from the client.

    api_key : typing.Optional[typing.Union[str, typing.Callable[[], str]]]
    headers : typing.Optional[typing.Dict[str, str]]
        Additional headers to send with every request.

    timeout : typing.Optional[float]
        The timeout to be used, in seconds, for requests. By default the timeout is 60 seconds, unless a custom httpx client is used, in which case this default is not enforced.

    max_retries : typing.Optional[int]
        The default maximum number of retries for failed requests. Defaults to 2. Per-request `max_retries` in `request_options` takes precedence over this value.

    follow_redirects : typing.Optional[bool]
        Whether the default httpx client follows redirects or not, this is irrelevant if a custom httpx client is passed in.

    httpx_client : typing.Optional[httpx.Client]
        The httpx client to use for making requests, a preconfigured client is used by default, however this is useful should you want to pass in any custom httpx configuration.

    logging : typing.Optional[typing.Union[LogConfig, Logger]]
        Configure logging for the SDK. Accepts a LogConfig dict with 'level' (debug/info/warn/error), 'logger' (custom logger implementation), and 'silent' (boolean, defaults to True) fields. You can also pass a pre-configured Logger instance.

    Examples
    --------
    from brume import BrumeClient

    client = BrumeClient(
        api_key="YOUR_API_KEY",
        base_url="https://yourhost.com/path/to/api",
    )
    """

    def __init__(
        self,
        *,
        base_url: str,
        api_key: typing.Optional[typing.Union[str, typing.Callable[[], str]]] = os.getenv("BRUME_API_KEY"),
        headers: typing.Optional[typing.Dict[str, str]] = None,
        timeout: typing.Optional[float] = None,
        max_retries: typing.Optional[int] = None,
        follow_redirects: typing.Optional[bool] = True,
        httpx_client: typing.Optional[httpx.Client] = None,
        logging: typing.Optional[typing.Union[LogConfig, Logger]] = None,
    ):
        _defaulted_timeout = (
            timeout if timeout is not None else 60 if httpx_client is None else httpx_client.timeout.read
        )
        _defaulted_max_retries = max_retries if max_retries is not None else 2
        if api_key is None:
            raise ApiError(body="The client must be instantiated be either passing in api_key or setting BRUME_API_KEY")
        self._client_wrapper = SyncClientWrapper(
            base_url=base_url,
            api_key=api_key,
            headers=headers,
            httpx_client=httpx_client
            if httpx_client is not None
            else httpx.Client(timeout=_defaulted_timeout, follow_redirects=follow_redirects)
            if follow_redirects is not None
            else httpx.Client(timeout=_defaulted_timeout),
            timeout=_defaulted_timeout,
            max_retries=_defaulted_max_retries,
            logging=logging,
        )
        self._raw_client = RawBrumeClient(client_wrapper=self._client_wrapper)
        self._public: typing.Optional[PublicClient] = None
        self._stats: typing.Optional[StatsClient] = None
        self._api_keys: typing.Optional[ApiKeysClient] = None
        self._channels: typing.Optional[ChannelsClient] = None
        self._longpoll: typing.Optional[LongpollClient] = None
        self._postgres: typing.Optional[PostgresClient] = None
        self._projects: typing.Optional[ProjectsClient] = None
        self._sse: typing.Optional[SseClient] = None
        self._webhooks: typing.Optional[WebhooksClient] = None

    @property
    def with_raw_response(self) -> RawBrumeClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawBrumeClient
        """
        return self._raw_client

    def diagnostics(self, *, request_options: typing.Optional[RequestOptions] = None) -> typing.Dict[str, typing.Any]:
        """
        Returns the full operational picture for a project: counters,
        latency percentiles, Postgres lag, top channels, and a plan-limit
        snapshot. Project API key auth (any scope). No secrets, no
        high-cardinality data, no admin gating.

        Response body is documented as `additionalProperties: true` for
        the same reason as `/v1/stats` and `/v1/analytics`.

        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.Dict[str, typing.Any]
            Full diagnostic snapshot

        Examples
        --------
        from brume import BrumeClient

        client = BrumeClient(
            api_key="YOUR_API_KEY",
            base_url="https://yourhost.com/path/to/api",
        )
        client.diagnostics()
        """
        _response = self._raw_client.diagnostics(request_options=request_options)
        return _response.data

    @property
    def public(self):
        if self._public is None:
            from .public.client import PublicClient  # noqa: E402

            self._public = PublicClient(client_wrapper=self._client_wrapper)
        return self._public

    @property
    def stats(self):
        if self._stats is None:
            from .stats.client import StatsClient  # noqa: E402

            self._stats = StatsClient(client_wrapper=self._client_wrapper)
        return self._stats

    @property
    def api_keys(self):
        if self._api_keys is None:
            from .api_keys.client import ApiKeysClient  # noqa: E402

            self._api_keys = ApiKeysClient(client_wrapper=self._client_wrapper)
        return self._api_keys

    @property
    def channels(self):
        if self._channels is None:
            from .channels.client import ChannelsClient  # noqa: E402

            self._channels = ChannelsClient(client_wrapper=self._client_wrapper)
        return self._channels

    @property
    def longpoll(self):
        if self._longpoll is None:
            from .longpoll.client import LongpollClient  # noqa: E402

            self._longpoll = LongpollClient(client_wrapper=self._client_wrapper)
        return self._longpoll

    @property
    def postgres(self):
        if self._postgres is None:
            from .postgres.client import PostgresClient  # noqa: E402

            self._postgres = PostgresClient(client_wrapper=self._client_wrapper)
        return self._postgres

    @property
    def projects(self):
        if self._projects is None:
            from .projects.client import ProjectsClient  # noqa: E402

            self._projects = ProjectsClient(client_wrapper=self._client_wrapper)
        return self._projects

    @property
    def sse(self):
        if self._sse is None:
            from .sse.client import SseClient  # noqa: E402

            self._sse = SseClient(client_wrapper=self._client_wrapper)
        return self._sse

    @property
    def webhooks(self):
        if self._webhooks is None:
            from .webhooks.client import WebhooksClient  # noqa: E402

            self._webhooks = WebhooksClient(client_wrapper=self._client_wrapper)
        return self._webhooks


def _make_default_async_client(
    timeout: typing.Optional[float],
    follow_redirects: typing.Optional[bool],
) -> httpx.AsyncClient:
    try:
        import httpx_aiohttp  # type: ignore[import-not-found]
    except ImportError:
        pass
    else:
        if follow_redirects is not None:
            return httpx_aiohttp.HttpxAiohttpClient(timeout=timeout, follow_redirects=follow_redirects)
        return httpx_aiohttp.HttpxAiohttpClient(timeout=timeout)

    if follow_redirects is not None:
        return httpx.AsyncClient(timeout=timeout, follow_redirects=follow_redirects)
    return httpx.AsyncClient(timeout=timeout)


class AsyncBrumeClient:
    """
    Use this class to access the different functions within the SDK. You can instantiate any number of clients with different configuration that will propagate to these functions.

    Parameters
    ----------
    base_url : str
        The base url to use for requests from the client.

    api_key : typing.Optional[typing.Union[str, typing.Callable[[], str]]]
    headers : typing.Optional[typing.Dict[str, str]]
        Additional headers to send with every request.

    async_token : typing.Optional[typing.Callable[[], typing.Awaitable[str]]]
        An async callable that returns a bearer token. Use this when token acquisition involves async I/O (e.g., refreshing tokens via an async HTTP client). When provided, this is used instead of the synchronous token for async requests.

    timeout : typing.Optional[float]
        The timeout to be used, in seconds, for requests. By default the timeout is 60 seconds, unless a custom httpx client is used, in which case this default is not enforced.

    max_retries : typing.Optional[int]
        The default maximum number of retries for failed requests. Defaults to 2. Per-request `max_retries` in `request_options` takes precedence over this value.

    follow_redirects : typing.Optional[bool]
        Whether the default httpx client follows redirects or not, this is irrelevant if a custom httpx client is passed in.

    httpx_client : typing.Optional[httpx.AsyncClient]
        The httpx client to use for making requests, a preconfigured client is used by default, however this is useful should you want to pass in any custom httpx configuration.

    logging : typing.Optional[typing.Union[LogConfig, Logger]]
        Configure logging for the SDK. Accepts a LogConfig dict with 'level' (debug/info/warn/error), 'logger' (custom logger implementation), and 'silent' (boolean, defaults to True) fields. You can also pass a pre-configured Logger instance.

    Examples
    --------
    from brume import AsyncBrumeClient

    client = AsyncBrumeClient(
        api_key="YOUR_API_KEY",
        base_url="https://yourhost.com/path/to/api",
    )
    """

    def __init__(
        self,
        *,
        base_url: str,
        api_key: typing.Optional[typing.Union[str, typing.Callable[[], str]]] = os.getenv("BRUME_API_KEY"),
        headers: typing.Optional[typing.Dict[str, str]] = None,
        async_token: typing.Optional[typing.Callable[[], typing.Awaitable[str]]] = None,
        timeout: typing.Optional[float] = None,
        max_retries: typing.Optional[int] = None,
        follow_redirects: typing.Optional[bool] = True,
        httpx_client: typing.Optional[httpx.AsyncClient] = None,
        logging: typing.Optional[typing.Union[LogConfig, Logger]] = None,
    ):
        _defaulted_timeout = (
            timeout if timeout is not None else 60 if httpx_client is None else httpx_client.timeout.read
        )
        _defaulted_max_retries = max_retries if max_retries is not None else 2
        if api_key is None:
            raise ApiError(body="The client must be instantiated be either passing in api_key or setting BRUME_API_KEY")
        self._client_wrapper = AsyncClientWrapper(
            base_url=base_url,
            api_key=api_key,
            headers=headers,
            async_token=async_token,
            httpx_client=httpx_client
            if httpx_client is not None
            else _make_default_async_client(timeout=_defaulted_timeout, follow_redirects=follow_redirects),
            timeout=_defaulted_timeout,
            max_retries=_defaulted_max_retries,
            logging=logging,
        )
        self._raw_client = AsyncRawBrumeClient(client_wrapper=self._client_wrapper)
        self._public: typing.Optional[AsyncPublicClient] = None
        self._stats: typing.Optional[AsyncStatsClient] = None
        self._api_keys: typing.Optional[AsyncApiKeysClient] = None
        self._channels: typing.Optional[AsyncChannelsClient] = None
        self._longpoll: typing.Optional[AsyncLongpollClient] = None
        self._postgres: typing.Optional[AsyncPostgresClient] = None
        self._projects: typing.Optional[AsyncProjectsClient] = None
        self._sse: typing.Optional[AsyncSseClient] = None
        self._webhooks: typing.Optional[AsyncWebhooksClient] = None

    @property
    def with_raw_response(self) -> AsyncRawBrumeClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawBrumeClient
        """
        return self._raw_client

    async def diagnostics(
        self, *, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.Dict[str, typing.Any]:
        """
        Returns the full operational picture for a project: counters,
        latency percentiles, Postgres lag, top channels, and a plan-limit
        snapshot. Project API key auth (any scope). No secrets, no
        high-cardinality data, no admin gating.

        Response body is documented as `additionalProperties: true` for
        the same reason as `/v1/stats` and `/v1/analytics`.

        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.Dict[str, typing.Any]
            Full diagnostic snapshot

        Examples
        --------
        import asyncio

        from brume import AsyncBrumeClient

        client = AsyncBrumeClient(
            api_key="YOUR_API_KEY",
            base_url="https://yourhost.com/path/to/api",
        )


        async def main() -> None:
            await client.diagnostics()


        asyncio.run(main())
        """
        _response = await self._raw_client.diagnostics(request_options=request_options)
        return _response.data

    @property
    def public(self):
        if self._public is None:
            from .public.client import AsyncPublicClient  # noqa: E402

            self._public = AsyncPublicClient(client_wrapper=self._client_wrapper)
        return self._public

    @property
    def stats(self):
        if self._stats is None:
            from .stats.client import AsyncStatsClient  # noqa: E402

            self._stats = AsyncStatsClient(client_wrapper=self._client_wrapper)
        return self._stats

    @property
    def api_keys(self):
        if self._api_keys is None:
            from .api_keys.client import AsyncApiKeysClient  # noqa: E402

            self._api_keys = AsyncApiKeysClient(client_wrapper=self._client_wrapper)
        return self._api_keys

    @property
    def channels(self):
        if self._channels is None:
            from .channels.client import AsyncChannelsClient  # noqa: E402

            self._channels = AsyncChannelsClient(client_wrapper=self._client_wrapper)
        return self._channels

    @property
    def longpoll(self):
        if self._longpoll is None:
            from .longpoll.client import AsyncLongpollClient  # noqa: E402

            self._longpoll = AsyncLongpollClient(client_wrapper=self._client_wrapper)
        return self._longpoll

    @property
    def postgres(self):
        if self._postgres is None:
            from .postgres.client import AsyncPostgresClient  # noqa: E402

            self._postgres = AsyncPostgresClient(client_wrapper=self._client_wrapper)
        return self._postgres

    @property
    def projects(self):
        if self._projects is None:
            from .projects.client import AsyncProjectsClient  # noqa: E402

            self._projects = AsyncProjectsClient(client_wrapper=self._client_wrapper)
        return self._projects

    @property
    def sse(self):
        if self._sse is None:
            from .sse.client import AsyncSseClient  # noqa: E402

            self._sse = AsyncSseClient(client_wrapper=self._client_wrapper)
        return self._sse

    @property
    def webhooks(self):
        if self._webhooks is None:
            from .webhooks.client import AsyncWebhooksClient  # noqa: E402

            self._webhooks = AsyncWebhooksClient(client_wrapper=self._client_wrapper)
        return self._webhooks
