# This file was auto-generated by Fern from our API Definition.

import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.request_options import RequestOptions
from .raw_client import AsyncRawStatsClient, RawStatsClient


class StatsClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawStatsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawStatsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawStatsClient
        """
        return self._raw_client

    def analytics(
        self, *, window_secs: typing.Optional[int] = None, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.Dict[str, typing.Any]:
        """
        Returns the project's analytics history as a list of snapshots
        (oldest first). Snapshots are sampled every 30s in-process. The
        response includes the last `window / interval` entries. Empty
        state is an empty `snapshots` array — never faked data.

        Response body is documented as `additionalProperties: true` for
        the same reason as `/v1/stats`: the shape is pinned by tests.

        Parameters
        ----------
        window_secs : typing.Optional[int]
            Time window in seconds. Default 3600 (1h). Clamped to [300, 21600] (5 min to 6 h).

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.Dict[str, typing.Any]
            Time-series snapshots over the requested window

        Examples
        --------
        from brume import BrumeClient

        client = BrumeClient(
            api_key="YOUR_API_KEY",
            base_url="https://yourhost.com/path/to/api",
        )
        client.stats.analytics()
        """
        _response = self._raw_client.analytics(window_secs=window_secs, request_options=request_options)
        return _response.data

    def get_stats(self, *, request_options: typing.Optional[RequestOptions] = None) -> typing.Dict[str, typing.Any]:
        """
        Returns project-level and global connection/channel statistics.

        Backwards compatibility: existing fields are preserved exactly. New
        fields added in 2026-06-11 (latency, postgres_lag, dropped_messages,
        slow_consumer_disconnections, dead_connections_cleaned,
        auth_failures_last_minute, plan_limit_rejections, top_channels) are
        additive — older dashboard clients keep working.

        Response body is documented as `additionalProperties: true` because
        the exact JSON shape is pinned by ~10 unit tests in this file. A
        future PR can type the envelope; for now SDK consumers will see
        `Record<string, any>`.

        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.Dict[str, typing.Any]
            Project and global statistics

        Examples
        --------
        from brume import BrumeClient

        client = BrumeClient(
            api_key="YOUR_API_KEY",
            base_url="https://yourhost.com/path/to/api",
        )
        client.stats.get_stats()
        """
        _response = self._raw_client.get_stats(request_options=request_options)
        return _response.data


class AsyncStatsClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawStatsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawStatsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawStatsClient
        """
        return self._raw_client

    async def analytics(
        self, *, window_secs: typing.Optional[int] = None, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.Dict[str, typing.Any]:
        """
        Returns the project's analytics history as a list of snapshots
        (oldest first). Snapshots are sampled every 30s in-process. The
        response includes the last `window / interval` entries. Empty
        state is an empty `snapshots` array — never faked data.

        Response body is documented as `additionalProperties: true` for
        the same reason as `/v1/stats`: the shape is pinned by tests.

        Parameters
        ----------
        window_secs : typing.Optional[int]
            Time window in seconds. Default 3600 (1h). Clamped to [300, 21600] (5 min to 6 h).

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.Dict[str, typing.Any]
            Time-series snapshots over the requested window

        Examples
        --------
        import asyncio

        from brume import AsyncBrumeClient

        client = AsyncBrumeClient(
            api_key="YOUR_API_KEY",
            base_url="https://yourhost.com/path/to/api",
        )


        async def main() -> None:
            await client.stats.analytics()


        asyncio.run(main())
        """
        _response = await self._raw_client.analytics(window_secs=window_secs, request_options=request_options)
        return _response.data

    async def get_stats(
        self, *, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.Dict[str, typing.Any]:
        """
        Returns project-level and global connection/channel statistics.

        Backwards compatibility: existing fields are preserved exactly. New
        fields added in 2026-06-11 (latency, postgres_lag, dropped_messages,
        slow_consumer_disconnections, dead_connections_cleaned,
        auth_failures_last_minute, plan_limit_rejections, top_channels) are
        additive — older dashboard clients keep working.

        Response body is documented as `additionalProperties: true` because
        the exact JSON shape is pinned by ~10 unit tests in this file. A
        future PR can type the envelope; for now SDK consumers will see
        `Record<string, any>`.

        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.Dict[str, typing.Any]
            Project and global statistics

        Examples
        --------
        import asyncio

        from brume import AsyncBrumeClient

        client = AsyncBrumeClient(
            api_key="YOUR_API_KEY",
            base_url="https://yourhost.com/path/to/api",
        )


        async def main() -> None:
            await client.stats.get_stats()


        asyncio.run(main())
        """
        _response = await self._raw_client.get_stats(request_options=request_options)
        return _response.data
