// This file was auto-generated by Fern from our API Definition.

import * as brume from "./api/index.js";
import { ApiKeysClient } from "./api/resources/apiKeys/client/Client.js";
import { ChannelsClient } from "./api/resources/channels/client/Client.js";
import { LongpollClient } from "./api/resources/longpoll/client/Client.js";
import { PostgresClient } from "./api/resources/postgres/client/Client.js";
import { ProjectsClient } from "./api/resources/projects/client/Client.js";
import { PublicClient } from "./api/resources/public/client/Client.js";
import { SseClient } from "./api/resources/sse/client/Client.js";
import { StatsClient } from "./api/resources/stats/client/Client.js";
import { WebhooksClient } from "./api/resources/webhooks/client/Client.js";
import type { BaseClientOptions, BaseRequestOptions } from "./BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "./BaseClient.js";
import { mergeHeaders } from "./core/headers.js";
import * as core from "./core/index.js";
import { handleNonStatusCodeError } from "./errors/handleNonStatusCodeError.js";
import * as errors from "./errors/index.js";
import * as serializers from "./serialization/index.js";

export declare namespace BrumeClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BrumeClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BrumeClient.Options>;
    protected _public: PublicClient | undefined;
    protected _stats: StatsClient | undefined;
    protected _apiKeys: ApiKeysClient | undefined;
    protected _channels: ChannelsClient | undefined;
    protected _longpoll: LongpollClient | undefined;
    protected _postgres: PostgresClient | undefined;
    protected _projects: ProjectsClient | undefined;
    protected _sse: SseClient | undefined;
    protected _webhooks: WebhooksClient | undefined;

    constructor(options: BrumeClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get public(): PublicClient {
        return (this._public ??= new PublicClient(this._options));
    }

    public get stats(): StatsClient {
        return (this._stats ??= new StatsClient(this._options));
    }

    public get apiKeys(): ApiKeysClient {
        return (this._apiKeys ??= new ApiKeysClient(this._options));
    }

    public get channels(): ChannelsClient {
        return (this._channels ??= new ChannelsClient(this._options));
    }

    public get longpoll(): LongpollClient {
        return (this._longpoll ??= new LongpollClient(this._options));
    }

    public get postgres(): PostgresClient {
        return (this._postgres ??= new PostgresClient(this._options));
    }

    public get projects(): ProjectsClient {
        return (this._projects ??= new ProjectsClient(this._options));
    }

    public get sse(): SseClient {
        return (this._sse ??= new SseClient(this._options));
    }

    public get webhooks(): WebhooksClient {
        return (this._webhooks ??= new WebhooksClient(this._options));
    }

    /**
     * Returns the full operational picture for a project: counters,
     * latency percentiles, Postgres lag, top channels, and a plan-limit
     * snapshot. Project API key auth (any scope). No secrets, no
     * high-cardinality data, no admin gating.
     *
     * Response body is documented as `additionalProperties: true` for
     * the same reason as `/v1/stats` and `/v1/analytics`.
     *
     * @param {BrumeClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link brume.UnauthorizedError}
     * @throws {@link brume.ForbiddenError}
     *
     * @example
     *     await client.diagnostics()
     */
    public diagnostics(requestOptions?: BrumeClient.RequestOptions): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__diagnostics(requestOptions));
    }

    private async __diagnostics(
        requestOptions?: BrumeClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/diagnostics",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.diagnostics.Response.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new brume.UnauthorizedError(
                        serializers.ErrorBody.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                case 403:
                    throw new brume.ForbiddenError(
                        serializers.ErrorBody.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.BrumeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/diagnostics");
    }

    /**
     * Make a passthrough request using the SDK's configured auth, retry, logging, etc.
     * This is useful for making requests to endpoints not yet supported in the SDK.
     * The input can be a URL string, URL object, or Request object. Relative paths are resolved against the configured base URL.
     *
     * @param {Request | string | URL} input - The URL, path, or Request object.
     * @param {RequestInit} init - Standard fetch RequestInit options.
     * @param {core.PassthroughRequest.RequestOptions} requestOptions - Per-request overrides (timeout, retries, headers, abort signal).
     * @returns {Promise<Response>} A standard Response object.
     */
    public async fetch(
        input: Request | string | URL,
        init?: RequestInit,
        requestOptions?: core.PassthroughRequest.RequestOptions,
    ): Promise<Response> {
        return core.makePassthroughRequest(
            input,
            init,
            {
                baseUrl: this._options.baseUrl ?? this._options.environment,
                headers: this._options.headers,
                timeoutInSeconds: this._options.timeoutInSeconds,
                maxRetries: this._options.maxRetries,
                fetch: this._options.fetch,
                logging: this._options.logging,
                getAuthHeaders: async () => (await this._options.authProvider.getAuthRequest()).headers,
            },
            requestOptions,
        );
    }
}
